  body {
      background-color: #ae0c0c;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      /* Adjusted to place .head at the top */
      min-height: 100vh;
  }

  .head {
      width: 660px;
      height: 100px;
      position: relative;
      margin-top: 10px;
      background-color: #ae0c0c;
      border: 21px solid #FAF4E1;
  }

  .head p {
      color: #FAF4E1;
      text-align: center;
      font-family: Inter;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 20px;
  }

  .scoreboard {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      /* Center the columns horizontally */
  }

  .column1, .column2 {
      width: 50%;
      height: 500px;
      /* Adjusted width to match score_1 and score_2 */
      margin-bottom: 10px;
  }

 
  .top_1,
  .top_2,
  .top_3,
  .top_4,
  .top_5,
  .top_6,
  .top_7,
  .top_8,
  .top_9,
  .top_10,
  .top_11,
  .top_12,
  .top_13,
  .top_14,
  .top_15,
  .top_16,
  .top_17 {
      width: 650px;
      height: 60px;
      background-color: #FAF4E1;
      flex-shrink: 0;
      margin: auto;
      margin-top: 20px;
  }





  .top_1 p,
  .top_2 p,
  .top_3 p,
  .top_4 p,
  .top_5 p,
  .top_6 p,
  .top_7 p,
  .top_8 p,
  .top_9 p,
  .top_10 p,
  .top_11 p,
  .top_12 p,
  .top_13 p,
  .top_14 p,
  .top_15 p,
  .top_16 p,
  .top_17 p {
      color: #000;
      font-family: Inter;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-left: 100px;
  }
.top_15 p {
    font-size: 20px;
}
  .top_1 input,
  .top_2 input,
  .top_3 input,
  .top_4 input,
  .top_5 input,
  .top_6 input,
  .top_7 input,
  .top_8 input,
  .top_9 input,
  .top_10 input,
  .top_11 input,
  .top_12 input,
  .top_13 input,
  .top_14 input,
  .top_15 input,
  .top_16 input,
  .top_17 input {
      width: 25px;
  }