body {
    background-color: #ae0c0c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to place .head at the top */
    min-height: 100vh;
}

.head {
    width: 660px;
    height: 100px;
    position: relative;
    margin-top: 10px;
    background-color: #ae0c0c;
    border: 21px solid #FAF4E1;
    box-shadow: 15px 15px #1d1b1b;

}

.head p {
    color: #FAF4E1;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
}

.scoreboard {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1%;
    /* Center the columns horizontally */
}

.column1, .column2 {
    width: 50%;
    height: 500px;
    /* Adjusted width to match score_1 and score_2 */
    margin-bottom: 10px;
}


.top_1,
.top_2,
.top_3,
.top_4,
.top_5,
.top_6,
.top_7,
.top_8,
.top_9,
.top_10,
.top_11,
.top_12,
.top_13,
.top_14,
.top_15,
.top_16,
.top_17 {
    width: 650px;
    height: 60px;
    background-color: #FAF4E1;
    flex-shrink: 0;
    margin: auto;
    box-shadow: 10px 10px #1d1b1b;
}

#teamname1,
#teamname2,
#teamname3,
#teamname4,
#teamname5,
#teamname6,
#teamname7,
#teamname8,
#teamname9,
#teamname10,
#teamname11,
#teamname12,
#teamname13,
#teamname14,
#teamname15,
#teamname16,
#teamname17 {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    float: left;
    margin-left: 2.5%;
    margin-top: 2%;
}

.top_1 .p,
.top_2 .p,
.top_3 .p,
.top_4 .p,
.top_5 .p,
.top_6 .p,
.top_7 .p,
.top_8 .p,
.top_9 .p,
.top_10 .p,
.top_11 .p,
.top_12 .p,
.top_13 .p,
.top_14 .p,
.top_15 .p,
.top_16 .p,
.top_17 .p {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
}

#score1,
#score2,
#score3,
#score4,
#score5,
#score6,
#score7,
#score8,
#score9,
#score10,
#score11,
#score12,
#score13,
#score14,
#score15,
#score16,
#score17{
    width: 50px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    float: right;
    margin-right: 3%;
    margin-top: 1.5%;
    transition: transform 0.3s ease-in-out;
}

.top_1 input,
.top_2 input,
.top_3 input,
.top_4 input,
.top_5 input,
.top_6 input,
.top_7 input,
.top_8 input,
.top_9 input,
.top_10 input,
.top_11 input,
.top_12 input,
.top_13 input,
.top_14 input,
.top_15 input,
.top_16 input,
.top_17 input {
    width: 30px;
    height: 17.5px;
    float: right;
    margin-top: 3.5%;
    margin-right: 5%;
    background-color: #ffffff;
}

.top_1 button,
.top_2 button,
.top_3 button,
.top_4 button,
.top_5 button,
.top_6 button,
.top_7 button,
.top_8 button,
.top_9 button,
.top_10 button,
.top_11 button,
.top_12 button,
.top_13 button,
.top_14 button,
.top_15 button,
.top_16 button,
.top_17 button {
    float: right;
    font-size: 15px;
    margin-top: 3.5%;
}
